@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  /* max-width: 1550px; */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: 0 2px 6px ;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #e7ecef;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;*/
}

/* ----HEADER---- */
.cackles{
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  color: #274c77;
}

header{
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  box-sizing: border-box;
  background-color: #e7ecef;
  box-shadow: 0 5px 10px #a3cef1;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #274c77;
  font-family: 'Bebas Neue', cursive;
  align-content: center;
  font-size: 18px;
}

a:hover{
  color: #a3cef1;
}


li{
  list-style: none;
}

header ul{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

header ul li{
  padding: 0 1rem;
}

header ul li a{
  /* font-weight: bold; */
}

header .cart{
  
}
header .cart box-icon{
  
}
.cart{
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart  .item__total{
  position: absolute;
  top: -0.2rem;
  right: 0.01rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  background-color: red;
}

/* 
.container{
  margin-right: 0;
} */
/* ModalDetail */
.modal{
}
.imgModal{
  height: 18rem;
}
.prodDetail{
  /* height: 50px; */
}

.card{
  background-color: #e7ecef;
  padding: 0px;
  margin-top: 70px;
  margin-left: 35px;
  box-shadow: 0 5px 10px #a3cef1;
  border: none;
}

.main{
  background-color: #e7ecef;
}

body{
  background-color: #e7ecef;
}

.text-white{
  color: black;
}

button{
  background-color: #274c77;
}






/* ----MEDIAQUERYS---- */

@media only screen and (max-width: 1000px){
  .carrito_item{
    width: 92%;
  }
}

@media only screen and (max-width: 700px){
  .carrito{
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carrito_item h3{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px){
  header ul{
    display: none;
  }
}

@media only screen and (max-width: 450px){
  .carrito_item h3{
    display: .5rem;
  }
  .carrito_item .remove_item box-icon{
    width: 20px;
    height: 20px;
  }
}